@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

:root {
    color: white;
}

body {
    @apply bg-black;
}

@theme {
    --font-fancy: "Old Standard TT", serif;
    --font-body: "Roboto", serif;
    --font-display: "Exo 2", serif;
}